html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: large;
  color: #ccc;
  background-color: #f0f0f0;
}

.places-container {
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 0.4rem;
}

#data-reach-combobox {
  width: 100%;
}

.places-container > * {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.combobox-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  opacity: 0.7;
}

#listbox--1 {
  border: 1px solid #ccc;
  max-height: 50dvh;
  overflow-y: auto;
  scrollbar-width: thin;
}

#listbox--1 > * {
  padding: 0.8rem;
  cursor: pointer;
  border-top: 0.1px solid #f7f7f7;
  border-bottom: 0.1px solid #f7f7f7;
}

#listbox--1 > *:hover {
  background-color: #f9f9f9;
}

.places-container button {
  width: fit-content;
  border-radius: 0.4rem;
  border: 1px solid #0062ff;
  padding: 0.8rem;
  cursor: pointer;
  color: #0062ff;
  background-color: #d6ecff;
  opacity: 0.7;
}

.places-container button:hover {
  opacity: 0.8;
}

.infoWindow {
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  background-color: #fff;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .places-container {
    width: 90%;
  }
}

@media screen and (min-width: 769px) {
  .places-container {
    width: 40%;
  }
}
